<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form>
     <p>Team Name: <input= "text" name= "name"></p>
     <p>Coach: <input= "text" name= "coach"></p>
     <p>Point Guard <input= "text" name= "pg"></p>
     
   </form>
 </body>
</html>
