<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <% params.each do |key, value| %>
   <%= "#{key}: #{value}" %>
   <% end %>



 </body>
</html>
