<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <% params.each do |key, value| %>
   <h1>Team Name: <%= "#{value}" %></h1>
   <h2>Coach: <%= "#{value}" %>
       Point Guard: <%= "#{value}" %>
   </h2>
   

   <% end %>



 </body>
</html>
